<nav class="navbar navbar-light navbar-expand-lg" style="background-color:#89CFF0;">
<span class="material-icons mx-2" style="font-size: 36px;">
hotel
</span>
  <%= link_to "Room Booking" ,root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto my-3">     
       <% if hotel_signed_in? %>
        <li class="nav-item">
          <%= link_to "Rooms" ,rooms_path ,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logs', hotellogs_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Room" ,new_room_path ,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_hotel_registration_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <strong><%= link_to current_hotel.name ,rooms_path ,class:"nav-link " %></strong>
        </li>
        <li class="nav-item">
           <strong><%= link_to "Sign Out" ,destroy_hotel_session_path,method: :delete ,class:"nav-link" %> </strong>
        </li>
      <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Book Room', search_hotel_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Booked Rooms', logs_path , class:"nav-link" %>
          </li>
         <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <strong><%= link_to current_user.name ,root_path ,class:"nav-link " %></strong>
        </li>
           <strong><%= link_to "Sign Out" ,destroy_user_session_path,method: :delete ,class:"nav-link" %> </strong>
        </li>
      <% else %>
        <li class="nav-item mx-4">
          <%= link_to "User SignIn" ,new_user_session_path ,class:"nav-link "  %>
        </li>
        <li class="nav-item mx-4">
          <%= link_to "User SignUp", new_user_registration_path ,class:"nav-link " %>
        </li>
        <li class="nav-item mx-4">
          <%= link_to "Hotel SignIn" ,new_hotel_session_path ,class:"nav-link " %>
        </li>
        <li class="nav-item mx-4">
          <%= link_to "Hotel SignUp", new_hotel_registration_path ,class:"nav-link " %>
        </li>
      <% end %>
    </ul>
    <strong> <%= link_to "Admin", new_admin_user_session_path ,class:"btn btn-outline-primary" %></strong>
  </div>
</nav>