<h4><strong><%= @room.room_no %></strong></h3>
<h4><strong><%= @room.hotel.name %></strong></h4>
<h5>Type : <%= @room.room_type %></h5>
<h5>Price : <%= @room.price %></h5>
<h5>Beds : <%= @room.no_of_beds %></h5>
<hr>

<%= form_with  url: "bookingpage" ,method: :post do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <% log.errors.each do |error| %>
        <div class=" alert alert-danger alert-dismissible fade show" role="alert">
            <%= error.full_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :hotel_id ,value:@room.hotel_id , class:"form-control" ,type: :hidden%>
  </div>
    <div class="field form-group">
    <%= form.text_field :user_id ,value:current_user.id , class:"form-control" ,type: :hidden %>
  </div>
  <div class="field form-group">
    <%= form.text_field :hotel_name ,value: @room.hotel.name , class:"form-control",type: :hidden%>
  </div>
  <div class="field form-group">
    <%= form.text_field :room_no ,value: @room.room_no , class:"form-control",type: :hidden%>
  </div>
  <div class="field form-group">
    <%= form.text_field :room_id ,value: @room.id , class:"form-control" ,type: :hidden %>
  </div>
  <div class="field form-group">
    <label for="start_date">Start Date</label>
    <%= form.date_field :start_date , class:"form-control" ,id:"start_date",required: true%>
  </div>
  <div class="field form-group">
    <label for="end_date">End Date</label>
    <%= form.date_field :end_date , class:"form-control" ,id:"start_date", required: true%>
  </div>
  <div class="actions">
    <%= form.submit "Book", class:"btn btn-primary" %>
  </div>
<% end %>
