<%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>
<% if hotel_signed_in? %>
<table class="table table-striped ">
  <thead style="background-color: #e3f2fd;">
    <tr>
      <th>Room Number</th>
      <th>Hotel name</th>
      <th>Available</th>
      <th colspan="1"></th>
      <th>Price</th>
      <th>Type</th>
      <th>No of beds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
      <td><%= room.room_no %></td>
        <td><%= room.hotel_name %></td>
        <td>
          <% if room.status %>
            <i class="fas fa-toggle-on"></i> Yes
          <% else %>
            <i class="fas fa-toggle-off"></i> No
          <% end %>
        </td>
        <td><%= link_to 'Change', change_status_path(room) %></td> 
        <td><%= room.price %></td>
        <td><%= room.room_type %></td>
        <td><%= room.no_of_beds %></td>  
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Room', new_room_path,class:"btn btn-secondary" %>
  <div class="btn btn-primary">
    <i class="fas fa-file-csv fa-lg"></i>
    <%= link_to 'Download CSV', "/rooms.csv",style:"color:white;text-decoration:none;" %>
  </div>

<% elsif user_signed_in?%>
  <h2>Best Hotels at your Location</h2>
  <% if !@near_by_hotels.empty? %>
          <div class="row m-4">
              <% @near_by_hotels.each do |hotel| %>
                  <div class="card col-sm-5 m-3" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title"><strong> <i class="fas fa-hotel"></i> <%= hotel.name %></strong></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><strong> <i class="fas fa-map-marker-alt"></i> <%= hotel.address.location %></strong></h6> 
                          <p class="card-text"> <span class="material-icons">
meeting_room
</span> <strong> Room Count :</strong> <%= hotel.room_count %></p>
                          <p class="card-text"> <i class="fas fa-phone"></i> <%= hotel.phoneno %> | <i class="fas fa-envelope"></i> <%= hotel.email %></p>
                          <%= link_to "Book Now" , user_hotel_roomlist_path(hotel) ,class:"card-link btn btn-success" %>
                      </div>
                  </div>
              <% end %>
          </div>
          <% else %>
          <h3>No Hotel Found at your location</h3>
          <%= link_to "Search Hotel" , search_hotel ,class:"card-link btn btn-success" %>
      <% end %> 
  <% else %>
  <h1 style="text-align:center;">Room Booking Application</h1>
  <%= image_tag "room-booking.svg" , class:"svg" %>
<% end %>